@font-face {
    font-family: Inter;
    src:  url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
}

:root{
    --p-colour:#000000;
    --light-black:#353F58;
    --bg-colour:#FFFFFF;
    --bg-gradient: linear-gradient(180deg, #5F72BE 0%, rgba(89, 54, 227, 0.73) 100%);
    --font-family: Inter;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    background-color: var(--bg-colour);
    font-family: var(--font-family)
}
.container-gradient{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
}

.container-gradient img{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 10rem ;
}
    
.h-text{
    display: flex;
    align-items: center;
    width: 100%;
}

.h-text p{
    padding: 0.6rem;
    font-weight: 600;
    color: var(--p-colour);
}

.h-search{
    padding: 0.5rem;
}

.h-search form{
    padding: 2px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color:  #e6e6e6 ;
    opacity: 0.5;
}
input[type='text']{
    height: 100%;
    width: 100%;
    all: unset;
    font-size: 0.8rem;
    padding: 3rem 10px;
}

::placeholder{
    color: var(--light-black);
    opacity: 0.7;
}
button{
    all: unset;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background: url(../img/circle-plus-solid.svg);
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: inherit;
}
button:hover{
    opacity: 1;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 10rem;
    height: 100vh;
}
.container-box{
    width: 800px;
    display: flex;
    flex-direction: column;
    
    
}

.container-box h1 {
    color: var(--p-colour);
    font-size: 2.8rem;
}

.container-box span{
    color: var(--p-colour);
    font-size: 2.8rem;
    font-weight: 700;
}

.container-text{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.container-bottom{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
    width: 300px;
    
  
}

.container-bottom .btn-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 37px;
    background-color: #292D32;
    border-radius: 0.9rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    
    
}

.container-bottom .btn-dark a{
    
    color: var(--bg-colour);
    text-decoration: none;
   
}

.container-bottom .btn-dark a i{
    margin-right: 0.2rem;
    color: var(--bg-colour);
    
   
}


.container-bottom .btn-light{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 37px;
    background-color: #E8E8E8;
    border-radius: 0.9rem;
    
    
}

.container-bottom .btn-light a{
    color: var(--p-colour);
    text-decoration: none;
}


.card-box{
    background: #e6e6e6;
   
    height: 600px;
    width: 500px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(225px, auto) );
    grid-gap: 1.5rem;
    align-items: center;
    overflow: hidden;
}


.card{
    background: transparent;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
  -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    height: 160px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    
}
.card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bg-colour);
    font-size: 0.5rem;
}

#date{
    background-color: var(--light-black);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
#location{
    border: 1px solid  #292D32;
    color: var(--p-colour);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}



.img{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
img{
    width: 100%;
    height: 100%;
}

.img p{
    font-size: 1.5rem;
    color: var(--bg-colour);
}

.line{
    height: 1px;
    background-color: var(--p-colour);
    border-radius: 1rem;
}

.card-footer{
    margin-top: 7rem;
}

.text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    

}
.text{
    margin:0.6rem 1rem;
}
.text p{
    color: var(--light-black);
    font-size: 0.5rem;
}
#line-short{
    height: 10px;
    background-color: var(--p-colour);
    width: 0.1rem;
}