{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="container-box" data-aos="fade-in" data-aos-delay="100">

        <h1>We Know The </h1>
        <span>Future!</span>

        <div class="container-text">
            <p>We are the weather forcast system.</p>
            <p>Our expert check the information with the most modern satelite equipent and powerful servers which
                gives you</p>
            <p> the most Accurate results.</p>



        </div>

        <div class="container-bottom" data-aos="slide-left" data-aos-delay="200">
            <div class="btn-dark">
                <a href="{{ url_for('view.weather_info') }}">
                    <i class="fa-solid fa-chart-pie"></i>
                    Next weeks weather
                </a>
            </div>

            <div class="btn-light">
                <a href="#">
                    More features
                </a>
            </div>
        </div>
    </div>


    <div class="card-box">
        <div class="h-search" data-aos="flip-down" data-aos-delay="50">
            <form>
                <input type="text" id="nameInput" name='name' placeholder="search city.....">
                <button type="submit"></button>
            </form>
        </div>
        <!-- card -->
        <div class="card" id="card" data-aos="slide-left" data-aos-delay="50">
            <!-- card header -->
            <div class="card-head">
                <!-- date -->
                <div id="date">

                </div>
                <!-- location     -->
                <div id="location">

                </div>
            </div>
            <!-- header-ends -->

            <!-- image -->
            <div class="img" id="icon-img">

            </div>
            <!-- end -->

            <div class="card-footer">
                <div class="line"></div>

                <div class="text-container">
                    <div class="text" id="temperature">

                    </div>
                    <div id="line-short"></div>

                    <div class="text" id="humidity">


                    </div>
                    <div id="line-short"></div>

                    <div class="text" id="wind">


                    </div>

                </div>

            </div>
        </div>
        <!-- card-end-->

    </div>

</div>
{% endblock%}